<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gravações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gravações</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Live dia 21/09/2024" src="https://images.unsplash.com/photo-1521334726092-b509a19597c6?q=80&w=1501&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <ion-card-header>
      <ion-card-title>Aiónios</ion-card-title>
      <ion-card-subtitle>21/09/2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      1. Abra os olhos do meu coração | 2. Único | 3. Rendido estou | 4. É tudo sobre você | 5. Estrela da manhã
    </ion-card-content>
  </ion-card>

</ion-content>
